<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
</head>
<body>
  <h1>User List</h1>
    {{#each users as |user|}}
    <div>
      <img src="profilepics/{{user.username}}_med.jpg">
      <a href="/{{user.username}}">{{user.name.full}}</a>
    </div>
    {{/each}}
</body>
</html>